<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

   
    <link th:href="@{/css/changeEmail.css}" rel="stylesheet"></link>
    <title>changeEmail</title>
</head>
<body>
    <div th:fragment="changeEmail_contents">
        <div class="col-sm-5">
            <div class="page-header">
                <h1>メールアドレス変更</h1>
            </div>
            <form method="post" th:action="@{/changeEmail}" th:object="${changeEmailForm}">
                <table class="table table-bordered table-hover">
                     <!--ユーザー名入力-->
                     <tr>
                        <th class="active col-sm-3">現在のメールアドレス</th>
                        <td>
                            <div class="form-group" th:text="${oldEmail}"></div>
                        </td>
                    </tr>
                     <!--メールアドレス入力-->
                     <tr>
                        <th class="active col-sm-3">新しいメールアドレス</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('newEmail')}?'has-error'">
                                <input type="email" class="form-control" th:field="*{newEmail}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('newEmail')}" th:errors="*{newEmail}">newEmail error</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active col-sm-3">メールアドレス確認</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('newEmailValid')}?'has-error'">
                                <input type="email" class="form-control" th:field="*{confilmNewEmail}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('newEmailValid')}" th:errors="*{newEmailValid}">boolean error</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <label class="open btn btn-primary" for="pop-up">変更</label>
                <input type="checkbox" id="pop-up">
                <div class="overlay">
                    <div class="window">
                        <h4>変更しますか？</h4>
                        <div>
                            <label class="close" for="pop-up">変更しない</label>
                        </div>
                        <br>
                       <div>
                        <button class="btn btn-primary" type="submit" name="update">変更する</button>
                       </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</body>
</html>