<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>ChangeContract</title>
</head>
<body>
    <div th:fragment="changeContract_contents">
        <div class="col-sm-5">
            <div class="page-header">
                <h1>契約内容変更</h1>
            </div>
            <form method="post" th:action="@{/changeContract}" th:object="${changeContractForm}">
                <table class="table table-bordered table-hover">
                     <tr>
                        <th class="active col-sm-3">契約時間</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('contractTime')}?'has-error'">
                                <input type="text" class="form-control" th:field="*{contractTime}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('contractTime')}" th:errors="*{contractTime}">contractTime error</span>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <th class="active col-sm-3">始業時間</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('startTime')}?'has-error'">
                                <input type="time" class="form-control"  name="startTime" th:value="${contract.startTime}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">startTime error</span>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <th class="active col-sm-3">休憩時間</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('breakTime')}?'has-error'">
                                <input type="time" class="form-control" name="breakTime" th:value="${contract.breakTime}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('breakTime')}" th:errors="*{breakTime}">breakTime error</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active col-sm-3">終業時間</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('endTime')}?'has-error'">
                                <input type="time" class="form-control" name="endTime" th:value="${contract.endTime}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">endTime error</span>
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <button class="btn btn-primary" type="submit">申請する</button>
            </form>
        </div>
    </div>
   
</body>
</html>