<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>WorkTimeDetail</title>
</head>
<body>
    <div th:fragment="deleteWorkTime_contents">
        <div class="page-header">
            <h1>勤務情報</h1>
        </div>     
        <form method="post" th:action="@{/deleteWorkTime/{workTimeId}(workTimeId=${workTimeId})}" th:object="${workTimeForm}">
            <table class="table table-bordered table-hover table-striped">
                <span th:text="勤務日：+${#temporals.format(workDay,'YYYY/MM/dd')}"></span> 
                <br/>
                <span th:text="始業時間：+${#temporals.format(startTime,'HH:mm')}"></span>
                <br/>
                <span th:text="休憩時間：+${#temporals.format(breakTime,'HH:mm')}"></span>
                <br/>
                <span th:text="終業時間：+${#temporals.format(endTime,'HH:mm')}"></span>
                <br/>
    
            </table>
            <div class="col-sm-5">
                <h3>この勤務情報を削除しますか？</h3>
               <button class="btn btn-primary" type="submit" name="delete">削除</button>
               <a class="btn btn-primary" th:href="@{'/workTimeDetail/'+${monthId}}">戻る</a>
               <br/>  
            </div>

            <br/>
               
        </form> 
        
      
    </div>
     
</body>
</html>

