<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>WorkTimeDetail</title>
</head>
<body>
    <div th:fragment="workTimeDetail_contents">
        <div class="page-header">
            <h1>該当月勤務情報一覧</h1>
        </div>
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="info col-sm-2">勤務日</th>
                    <th class="info col-sm-2">始業時間</th>
                    <th class="info col-sm-2">休憩時間</th>
                    <th class="info col-sm-2">終業時間</th>
                    <th class="info col-sm-2"></th>
                    <th class="info col-sm-2"></th>
                </tr>
                <tr th:each="workTimeEntity:${workTime}">
                    <td th:text="${#dates.format(workTimeEntity.workDay,'YYYY/MM/dd')}"></td>
                    <td th:text="${#temporals.format(workTimeEntity.startTime,'HH:mm')}"></td>
                    <td th:text="${#temporals.format(workTimeEntity.breakTime,'HH:mm')}"></td>
                    <td th:text="${#temporals.format(workTimeEntity.endTime,'HH:mm')}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/updateWorkTime/'+${workTimeEntity.workTimeId}}">更新</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/deleteWorkTime/'+${workTimeEntity.workTimeId}}">削除</a>
                    </td>
                </tr>
            </table>
            <br/>
    </div>
     
</body>
</html>

