<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.repository.KintaiMapper">
	<resultMap type="com.example.demo.entity.Users" id="users"></resultMap>
	<resultMap type="com.example.demo.entity.Contracts"
		id="contracts"></resultMap>
	<resultMap type="com.example.demo.entity.Months" id="months"></resultMap>
	<resultMap type="com.example.demo.entity.WorkTimes"
		id="workTimes"></resultMap>

	<!-- ユーザー1件登録 -->
	<insert id="insertUser">
		insert into users(
		user_name
		,email
		,password
		,role
		,user_status
		,requested_at
		)
		values (
		#{userName}
		, #{email}
		, #{password}
		,
		#{role}
		, #{userStatus}
		, #{requestedAt}
		)
	</insert>

	<!-- ユーザー1件取得 -->
	<select id="findOneUser" resultMap="users">
		SELECT * FROM users WHERE
		user_id=#{userId}
	</select>

	<update id="updateUsers">
		UPDATE users SET
		email=#{email},password=#{password}
		WHERE user_id=#{userId}
	</update>

	<!-- ログインユーザー取得 -->
	<select id="findLoginUser" resultMap="users">
		SELECT
		user_id,email,password,role,user_status FROM users WHERE
		email=#{email}
	</select>

	<!-- 契約1件登録 -->
	<insert id="insertCont">
		INSERT INTO
		contracts(user_id,contract_time,start_time,break_time,end_time,start_date,office_name,end_date)
		VALUES(#{userId},#{contractTime},#{startTime},#{breakTime},#{endTime},#{startDate},#{officeName},#{endDate}
		)
	</insert>

	<select id="findAllCont" resultMap="contracts">
		SELECT
		contract_id,start_date,office_name,end_date
		FROM contracts
		JOIN users
		ON
		contracts.user_id=users.user_id
		WHERE contracts.user_id=#{userId}
	</select>

	<select id="findOneCont" resultMap="contracts">
		SELECT * FROM contracts WHERE
		contract_id=#{contractId}
	</select>

	<select id="findCurrentCont" resultMap="contracts">
		SELECT * FROM contracts
		JOIN users ON
		contracts.user_id=users.user_id
		ORDER BY contract_id
		DESC
		LIMIT 1 OFFSET 0
	</select>

	<insert id="insertMonths">
		INSERT INTO months(contract_id,year,month)
		VALUES(#{contractId},#{year},#{month})
	</insert>

	<select id="findMonthOfWorkTime" resultMap="months">
		SELECT * FROM months
		WHERE contract_id=#{contractId}
		AND year=#{year}
		AND month=#{month}
	</select>

	<select id="findAllMonths" resultMap="months">
		SELECT months.month_id,
		year,month
		FROM months
		JOIN contracts
		ON
		months.contract_id=contracts.contract_id
		JOIN work_times
		ON
		months.month_id=work_times.month_id
		WHERE
		months.contract_id=#{contractId}
	</select>

	<select id="findOneMonths" resultMap="months">
		SELECT * FROM months
		WHERE
		month_id=#{monthId}
	</select>

	<insert id="insertWorkTimes">
		INSERT INTO
		work_times(month_id,work_day,start_time,break_time,end_time)
		VALUES(#{monthId},#{workDay},#{startTime},#{breakTime},#{endTime})
	</insert>

	<select id="findAllWorkTimes" resultMap="workTimes">
		SELECT
		work_time_id,work_day,start_time,break_time,end_time FROM work_times
		JOIN months ON work_times.month_id=months.month_id
		WHERE
		work_times.month_id=#{monthId}
	</select>

	<select id="findOneWorkTimes" resultMap="workTimes">
		SELECT * FROM work_times
		WHERE work_time_id=#{workTimeId}
	</select>

	<update id="updateWorkTimes">
		UPDATE work_times SET
		month_id=#{monthId},work_day=#{workDay},start_time=#{startTime},break_time=#{breakTime},end_time=#{endTime}
		WHERE work_time_id=#{workTimeId}
	</update>

	<delete id="deleteWorkTimes" parameterType="int">
		DELETE FROM
		work_times WHERE
		work_time_id=#{workTimeId}
	</delete>

</mapper>